<div class="dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="dialog-title-bar" cdkDragHandle>
    <span class="dialog-title">
      {{ data.mode + ' Subcategory' }}
    </span>

    <button mat-icon-button type="button" aria-label="Close" (click)="dialogRef.close()">
      <span class="material-icons">close</span>
    </button>
  </div>

  <div class="dialog-content">
    <form [formGroup]="form" class="dialog-form">
      <mat-form-field appearance="fill" class="dialog-field">
        <mat-label>Transaction Type</mat-label>

        <mat-select
          #transactionType
          formControlName="transactionType"
          name="transactionType"
          (valueChange)="this.fetchCategories(transactionType.value)"
        >
          @for (item of transactionTypes(); track item.value) {
            <mat-option [value]="item.value">
              {{ item.label }}
            </mat-option>
          }
        </mat-select>

        @if (_cs.isInvalid(form.get('transactionType'))) {
          <mat-error>
            {{ _cs.getValidationMessage(form.get('transactionType'), 'Transaction Type') }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="dialog-field">
        <mat-label>Category</mat-label>

        <mat-select formControlName="category" name="category">
          @for (item of categories(); track item.value) {
            <mat-option [value]="item.value">
              {{ item.label }}
            </mat-option>
          }
        </mat-select>

        @if (_cs.isInvalid(form.get('category'))) {
          <mat-error>
            {{ _cs.getValidationMessage(form.get('category'), 'Category') }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="dialog-field">
        <mat-label>Subcategory Name</mat-label>

        <input matInput type="text" name="subcategoryName" formControlName="subcategoryName" />

        @if (_cs.isInvalid(form.get('subcategoryName'))) {
          <mat-error>
            {{ _cs.getValidationMessage(form.get('subcategoryName'), 'Subcategory Name') }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="dialog-field">
        <mat-label>Subcategory Description</mat-label>

        <input
          matInput
          type="text"
          name="subcategoryDescription"
          formControlName="subcategoryDescription"
        />

        @if (_cs.isInvalid(form.get('subcategoryDescription'))) {
          <mat-error>
            {{
              _cs.getValidationMessage(
                form.get('subcategoryDescription'),
                'Subcategory Description'
              )
            }}
          </mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button type="button" (click)="form.reset(); fetchdropdowns()">Reset</button>
    <span class="action-spacer"></span>
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Close</button>
    <button
      mat-raised-button
      type="button"
      [disabled]="form.invalid || form.pristine"
      (click)="save()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
