@if (column) {
  <div class="column-filter">
    <button
      #operatorButton
      type="button"
      class="operator-button"
      [class.active]="menuOpen"
      (mouseenter)="menuOpen = true"
      (click)="toggleMenu()"
      aria-label="Filter operator"
    >
      <span class="operator-symbol">
        {{ operatorSymbol }}
      </span>
    </button>

    @if (selectedOperator === FILTER_OPERATORS.BETWEEN) {
      <div class="between-filter">
        <div class="between-inputs">
          @if (column.dataType === 'date' || column.dataType === 'datetime') {
            <div class="filter-control date-filter-control">
              <p-datepicker
                [placeholder]="'From ' + column.header"
                [dateFormat]="primeNgDateFormat"
                [showIcon]="true"
                iconDisplay="input"
                [(ngModel)]="filterDateValue"
                (ngModelChange)="onBetweenDateChange('from', $event)"
                appendTo="body"
                (onFocus)="menuOpen = false"
              />
            </div>
          } @else {
            <div class="filter-control">
              <input
                pInputText
                [type]="column.dataType"
                [placeholder]="'From ' + column.header"
                [value]="filter.value"
                (input)="onBetweenInput('from', $any($event.target).value)"
                (onFocus)="menuOpen = false"
              />
            </div>
          }

          @if (column.dataType === 'date' || column.dataType === 'datetime') {
            <div class="filter-control date-filter-control">
              <p-datepicker
                [placeholder]="'To ' + column.header"
                [dateFormat]="primeNgDateFormat"
                [showIcon]="true"
                iconDisplay="input"
                [(ngModel)]="filterDateToValue"
                (ngModelChange)="onBetweenDateChange('to', $event)"
                appendTo="body"
                (onFocus)="menuOpen = false"
              />
            </div>
          } @else {
            <div class="filter-control">
              <input
                pInputText
                [type]="column.dataType"
                [placeholder]="'To ' + column.header"
                [value]="filter.valueTo ?? ''"
                (input)="onBetweenInput('to', $any($event.target).value)"
                (onFocus)="menuOpen = false"
              />
            </div>
          }
        </div>

        @if (betweenError) {
          <div class="between-error">
            {{ betweenError }}
          </div>
        }
      </div>
    } @else {
      @if (column.dataType === 'date' || column.dataType === 'datetime') {
        <div class="filter-control date-filter-control">
          <p-datepicker
            [placeholder]="column.header"
            [dateFormat]="primeNgDateFormat"
            [showIcon]="true"
            iconDisplay="input"
            [(ngModel)]="filterDateValue"
            (ngModelChange)="onDateChange($event)"
            appendTo="body"
            (onFocus)="menuOpen = false"
          />
        </div>
      } @else if (column.dataType === 'number') {
        <div class="filter-control">
          <input
            pInputText
            type="text"
            inputMode="decimal"
            [placeholder]="column.header"
            [value]="filter.value"
            (keydown)="onNumberKeyDown($event)"
            (input)="onInput($any($event.target).value)"
            (focus)="menuOpen = false"
          />
        </div>
      } @else if (column.dataType === 'boolean') {
        <div class="filter-control boolean-filter-control">
          <p-select
            [options]="booleanOptions"
            optionLabel="label"
            optionValue="value"
            [placeholder]="column.header"
            [(ngModel)]="filter.value"
            (ngModelChange)="onBooleanChange($event)"
            appendTo="body"
          />
        </div>
      } @else {
        <div class="filter-control">
          <input
            pInputText
            [type]="column.dataType"
            [placeholder]="column.header"
            [value]="filter.value"
            (input)="onInput($any($event.target).value)"
            (focus)="menuOpen = false"
          />
        </div>
      }
    }

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="operatorButton"
      [cdkConnectedOverlayOpen]="menuOpen"
      [cdkConnectedOverlayPositions]="[
        {
          originX: 'start',
          originY: 'bottom',
          overlayX: 'start',
          overlayY: 'top',
          offsetY: 5,
        },
      ]"
    >
      <div class="operator-menu" (mouseleave)="menuOpen = false">
        @for (operator of operators; track operator.value) {
          <button
            type="button"
            class="operator-option"
            [class.selected]="operator.value === selectedOperator"
            (click)="selectOperator(operator)"
          >
            <span class="operator-option-symbol">
              {{ operator.icon }}
            </span>

            <span>
              {{ operator.label }}
            </span>
          </button>
        }

        <div class="operator-separator"></div>

        <button type="button" class="operator-option reset-option" (click)="onReset()">
          <span class="operator-option-symbol"> ↻ </span>

          <span> Reset </span>
        </button>
      </div>
    </ng-template>
  </div>
}
